In [1]:
import json

In [4]:
with open('consumer/response.json', 'rb') as file:
    data = json.loads(file.read())

In [11]:
points = data['paths'][0]['points']['coordinates']

In [19]:
len(points)

441

In [18]:
import pandas as pd
from datetime import datetime, timedelta

In [80]:
df = pd.DataFrame(columns=['train_id', 'time', 'latitude', 'longitude'])

In [81]:
point_time = datetime(2023, 11, 10, 11, 0, 0)
for row in points:
    latitude, longitude = row
    df = pd.concat([df, 
               pd.DataFrame.from_dict({
                   'train_id': [1], 
                   'time': [point_time], 
                   'latitude': [latitude], 
                   'longitude': [longitude]})
              ], ignore_index=True
             )
    point_time += timedelta(seconds=1)

In [82]:
df

    train_id                time   latitude  longitude
0          1 2023-11-10 11:00:00  55.794873  37.549796
1          1 2023-11-10 11:00:01  55.794966  37.549907
2          1 2023-11-10 11:00:02  55.794977  37.549952
3          1 2023-11-10 11:00:03  55.794932  37.550132
4          1 2023-11-10 11:00:04  55.794945  37.550306
..       ...                 ...        ...        ...
436        1 2023-11-10 11:07:16  55.727140  37.483144
437        1 2023-11-10 11:07:17  55.727226  37.482922
438        1 2023-11-10 11:07:18  55.727204  37.482650
439        1 2023-11-10 11:07:19  55.727311  37.482429
440        1 2023-11-10 11:07:20  55.727655  37.482250

[441 rows x 4 columns]

In [84]:
from sqlalchemy import create_engine

In [93]:
engine = create_engine('postgresql://user:92d80b2AHAQWW1QL@localhost:5435/trains')

In [94]:
df.to_sql(name='TrainsMovement', con=engine, index_label='id', if_exists='replace')

441